
.Content{
    background: url(../img/Zhuce/beijing.png) no-repeat;
    width: 100%;
    height: 650px;
    background-size: cover;
    position: relative;
}
.fuyuan{
    width: 1280px;
    height: 618px;
    position: absolute;
    left: 50%;
    margin: 0 auto 0 -640px;
    top: 0;
}
.biaodan{
    padding: 25px;
    background: #fff;
    opacity: 0.95;
    border-radius: 3px;
    position: absolute;
    top: 80px;
    left: 640px;
    width: 430px;
    height: 408px;
    box-sizing: border-box;
    
}
.deng{
    font-size: 16px;
    color: #333;
    line-height: 38px;
    position: relative;
    padding-left: 95px;
}
.logon{
    position: relative;
    height: 320px;
}
.zhanghao{
    width: 318px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    margin: 42px auto 15px;
    background: #fff;
    opacity: .95;
}
.icon-use{
    width: 24px;
    height: 24px;
    margin: 8px 8px 0;
    display: inline-block;
}
#icon-user{
    background: url(../img/Zhuce/zhanghao.png)no-repeat;
    background-size: cover;
}
.zhanghao input{
    width: 274px;
    height: 20px;
    margin-top: 11px;
    line-height: 20px;
    text-align: left;
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    float: right;
}
#jianju{
    margin: 16px auto 15px;
}
#icon-pass{
    background: url(../img/Zhuce/mima.png)no-repeat;
    background-size: cover;
}
.denglu{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 90px;
}
.btn-login{
    width: 320px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #fd4c5b;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}
.tishi{
    position: absolute;
    height: 18px;
    color: #fd4c5b;
    font-size: 14px;
    line-height: 18px;
    left: 35px;
    top: -20px;
    z-index: 4;
    display: none;
    text-indent: 18px;
}
.tishi::before{
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0;
    top: 0;
    background: url(../img/Zhuce/gantan.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 2px;
}
.dibu a{
    font: 12px;
    color: #333;
    cursor: pointer;
}
.wangji,.lijizuc{
    float: right;
    margin-left: 25px;
}
.dibu a:nth-child(1){
    color: #999;
}
.dibu a:hover{
    color: red;
}